

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/



/*

primary color :#7950f2

secondary color:#748ffc
GRAY COLOR:#343a40


*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body{
   font-family:"Inter", sans-serif;
   color: #343a40;
   line-height:1;
   
}

.qizz-container{
    width: 950px;
    margin: 100px auto;
    background-color:#7950f2;
    border-radius: 8px;
    padding: 30px 20px;
    box-shadow: 0 12px 32px rgba(0,0,0,.1) ;
    display:flex;
    gap:98px;
}

.quizz-information{
    color: #e6fcf5;
    padding: 20px;
    font-size:30px;
    font-weight: 500;
    line-height: 1.5;   
}

.quizz-information, .quizz-members{
    margin-top: 48px;
}

.quizz-card{
  background-color: #fff; 
  padding: 100px;
  box-shadow: 0 12px 32px rgba(0,0,0,.1) ;
  border-radius: 8px;
}


.login,.quizz-login-information{
 margin-bottom: 48px;
 color:#343a40 ;
}


.show-result{
margin-top: 50px;
}

button{
    cursor: pointer;
    margin-bottom: 100px;
    padding: 15px 30px;
    background-color:#7950f2 ;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    border: none;
    border-radius: 8px;
}